@import "tailwindcss";

/* .maincontainer {
    background-image: url('/Misc/GridTile.svg');
    background-repeat: repeat;
    background-size: 7%;

    mask-image: radial-gradient(200% 50% at 50% 0%, #0000002b, #000), radial-gradient(200% 50% at 50% 100%, #0000002b, #000);
    mask-composite: intersect;
} */

.patterncontainer {
  background-color: #3c35353b; /* dot color */
  mask-image: url('/Misc/GridTile.svg'),radial-gradient(500% 50% at 50% 0%, #0000002c 10%, #000), radial-gradient(500% 50% at 50% 100%, #0000002c 10%, #000);
  mask-repeat: repeat, no-repeat, no-repeat;    
  mask-size: 5%, cover, cover;
  mask-composite: intersect;
}


img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  user-select: none;
}

.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none;
}
